name: Push actions

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'package.json'
      - 'CHANGELOG.md'

jobs:
  build:

    runs-on: ubuntu-latest
    permissions: 
      contents: read
      packages: write 
    steps:
      # get repo code
      - uses: actions/checkout@v2
      # install node
      - name: Use Node.js 15.x
        uses: actions/setup-node@v1
        with:
          node-version: '15.x'
          registry-url: 'https://registry.npmjs.org'
      # install packages
      - run: yarn --frozen-lockfile
      # run checksum test
      - run: yarn checksum
      # transpile from Typescript to Javascript
      - run: yarn compile
      # bump package version and commit. Note that this won't create an infinite github action push loop, as we have added package.json to paths-ignore.
      # this is from https://medium.com/swlh/bump-bump-bump-d0dab616e83 and https://github.com/TriPSs/conventional-changelog-action
      - name: Bump version and commit
        uses: TriPSs/conventional-changelog-action@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      # publish package
      - run: yarn publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}